
.steps{
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.hww{
    background: linear-gradient(180deg, #E2CDEF 0%, #F5F5F5 100%);
}

.box-custom-plan{
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: auto;
    margin-right: auto;
    display: flex;
    box-sizing: border-box;
    border: solid #343A40 1px;
}

