body{
    font-family: 'Mulish', sans-serif !important;
    color: #343A40 !important;
    }

.h4{
    margin-left: 7%;
    margin-right: 7%;
}

a{
    text-decoration: none !important;
    color:#4030E8 !important;
    font-weight: 600 !important; 
}
    
h1{
    font-size: 42px !important;
    line-height: 52px !important;
    font-weight: 800 !important;
    }
    
h4{
    font-size: 25px !important;
    line-height: 35px !important;
    font-weight: 800 !important;
    }
    
p{
    font-size: 16px !important;
    line-height: 28px !important;
    font-weight: 400 !important;
}