.table-bordered {
    border: 2px solid #ffffff !important;
    width: 60% !important;
    margin-right: auto;
    margin-left: auto;
    
}

.plans-container{
    background: linear-gradient(180deg, #E2CDEF 0%, #F5F5F5 100%);
}

.faq{
    width: 60%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
}