.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Pequeños cambios de estilo */


.grid-flow-col {
  margin-top: 38px;
}


.shadow-md {
  --tw-shadow: none;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.top-title {
  margin-top: 80px;
  font-size: 18px;
  font-weight: 800;
}

.bg-house-green {
  background-color: #1e3932;
}

.title-product{
  color: white;
}

.btn-coffee{
  background-color: #1e3932;
  color: white;
  padding: 10px;
  border-radius: 8px;
}